<%= form_for(@session_routine) do |f| %>
  <% if @session_routine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session_routine.errors.count, "error") %> prohibited this session_routine from being saved:</h2>

      <ul>
      <% @session_routine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= f.label :routine %>
   <%= f.select :routine, Routine.all.map { |routine| [routine.name, routine.id] } %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :reps %>
    <%= f.text_field :reps %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
